
<section class="main">
  <div class="sidebar">
      <img id="logo" src="sources/logo.png">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                  <img src="sources/dashboard.png">
                  <span>Dashboardtest</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/request-money.png">
                  <span>Cash In</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/paid.png">
                  <span>Cash Out</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/warehouse.png">
                  <span>Stock</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/check-list.png">
                  <span>Projects</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/in-person.png">
                  <span>Clients</span>
              </a>
          </li>
      </ul>
  </div>

  <div class="right-section">
      <div class="head">
          <img src="sources/logout.png">
      </div>
      <div class="content">
          <h2>Content item</h2>
         <div class="content-item">
              <table class="transactions">
                  <tr>
                      <th>CREATED</th>
                      <th>TRANSID</th>
                      <th>AMOUNT</th>
                      <th>CURRENCY</th>
                      <th>PROJECT</th>
                      <th>STATUS</th>
                  </tr>
                  <tr>
                      <td>2024-05-27 14:35:58</td>
                      <td>16409923</td>
                      <td>300</td>
                      <td>EUR</td>
                      <td>Gambl S.R.L</td>
                      <td>Complete</td>
                  </tr>
                  <tr>
                      <td>2024-05-27 14:35:58</td>
                      <td>16409923</td>
                      <td>300</td>
                      <td>EUR</td>
                      <td>Gambl S.R.L</td>
                      <td>Complete</td>
                  </tr>
                  <tr>
                      <td>2024-05-27 14:35:58</td>
                      <td>16409923</td>
                      <td>300</td>
                      <td>EUR</td>
                      <td>Gambl S.R.L</td>
                      <td>Complete</td>
                  </tr>
                  <tr>
                      <td>2024-05-27 14:35:58</td>
                      <td>16409923</td>
                      <td>300</td>
                      <td>EUR</td>
                      <td>Gambl S.R.L</td>
                      <td>Complete</td>
                  </tr>
                  <tr>
                      <td>2024-05-27 14:35:58</td>
                      <td>16409923</td>
                      <td>300</td>
                      <td>EUR</td>
                      <td>Gambl S.R.L</td>
                      <td>Complete</td>
                  </tr>
                  <tr>
                      <td>2024-05-27 14:35:58</td>
                      <td>16409923</td>
                      <td>300</td>
                      <td>EUR</td>
                      <td>Gambl S.R.L</td>
                      <td>Complete</td>
                  </tr>

              </table>
          </div>
      </div>
  </div>

  </section>
