
<section class="main">
  <div class="sidebar">
      <img id="logo" src="sources/logo.png">
      <ul class="sidebar-nav">
          <li>
              <a routerLink="/main">
                  <img src="sources/dashboard.png">
                  <span>Dashboard</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/request-money.png">
                  <span>Cash In</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/paid.png">
                  <span>Cash Out</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/warehouse.png">
                  <span>Stock</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="sources/check-list.png">
                  <span>Projects</span>
              </a>
          </li>
          <li>
              <a routerLink="/main/clients">
                  <img src="sources/in-person.png">
                  <span>Clients</span>
              </a>
          </li>
      </ul>
  </div>

  <div class="right-section">
      <div class="head">
          <img src="sources/logout.png">
      </div>
      <router-outlet></router-outlet>


  </div>

  </section>
