<div class="pop-up-wrapper">
  <h2>Create new expense</h2>

  <div class="info-about">
      <div class="left-section">

        <form mat-dialog-content #dataForm="ngForm" (ngSubmit)="onSubmit(dataForm, data[1], data[2], data[3]) ">
          <div *ngFor="let label of data[0]; let i = index" class="popup-container">
            <input
              [placeholder]="label"
              [name]="label"
              [ngModel]="label === 'date' ? getCurrentDate() : ''"
              required
            ><br>
          </div>



          <button type="submit" mat-button mat-dialog-close class="create-pop">Complete</button>
          <button type="button" (click)="closePopup()" mat-button mat-dialog-close class="close-pop">Close</button>
        </form>

      </div>
        <div class="rigth-section">
          <img src="sources/paid.png">

        </div>

  </div>

</div>
