<div class="content">
  <div class="head-content">
  <h2>Projects</h2>
    <button (click)="openPopup(projects,'create','', 'projects' )">Add New</button>
    <div (click)="updateData()"><img src="../../../sources/arrows-rotate-solid.svg"></div>
  </div>

  <div class="content-item">
       <table class="transactions">
           <tr>
               <th>CODE</th>
               <th>NAME</th>
               <th>DESCRIPTION</th>
               <th>STATUS</th>
               <th>STARTDATE</th>
               <th>ENDDATE</th>
               <th>CLIENTCODE</th>
               <th>PERCENTAGE DONE</th>

           </tr>
           <tr *ngFor="let project of projects">
               <td>{{ project.code}}</td>
               <td>{{project.name}}</td>
               <td>{{project.description}}</td>
               <td>{{project.status}}</td>
               <td>{{project.startDate}}</td>
               <td>{{project.endDate}}</td>
               <td>{{project.clientCode}}</td>
               <td>{{project.percentage}}%</td>

           </tr>
       </table>
   </div>
  </div>
