.content{
  height: 80vh;
  margin: 15px 0px 0px 25px;

}
.content h2{
  font-family: sans-serif;
  color: #184477;
  font-size: 24px;
  font-weight: 800;
  margin-left: 15px;
  margin-bottom: 10px;
}
.content-item{
  margin: 5px;
  width:45%;
  height: 35%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.content-item form{
  margin: 10px;
display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-item form button{
  margin-bottom: 15px;
}


.content-item form input{
 margin-bottom: 10px;
}
.content-wrapper{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

#canvas3{

  padding: 15px;
  width:350px !important;
  height: 350px !important;
}


#date-form input {
  outline: none;
  height: 30px;
  width: 230px;
  border-radius: 3px;
  border: 0px;
  padding: 0px 5px;
  font-size: 16px;
}

#date-form input:focus {
  border: 3px solid rgb(68, 105, 207);
}

#date-form input:valid {
  background-color: rgba(230, 234, 245, 0.774);
  border: 1px solid rgb(68, 105, 207);
}

#date-form button:hover {
  background-color: rgb(26, 76, 214);
}

#date-form button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 0px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(54, 99, 223);
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-family: sans-serif;
}

#date-form label{
  color: #184477;
  font-size: 18px;
  font-family: sans-serif;
  font-weight:600;
  margin-bottom: 10px;
}

.counts{
  display: flex;

  width: 100%;
  justify-content: space-between;
  padding: 15px;
}

.counts label{
  color: #184477;
  font-size: 24px;
  font-family: sans-serif;
  font-weight:600;
  margin-bottom: 10px;
}
.count-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-content{
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.head-content button{
  padding:10px 15px 10px 15px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(51, 158, 51);
  color: white;
  font-size: 16px;
  transition:0.3s;
  font-weight: 600;
}
.head-content button:hover{
  background-color:rgb(71, 184, 71) ;
}


.head-content img {
  width:25px;

}
.head-content div{
  margin-left: 10px;
  background-color: #2965aa;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 1s ease-in-out;
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#download:hover {
  background-color: rgb(26, 76, 214);
}

#download{
  text-align: center;
  margin-bottom: 25px;
  width:150px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(54, 99, 223);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
