.content{
  height: 80vh;
  margin:50px;

}
.content h2{
  font-family: sans-serif;
  color: #184477;
  font-size: 24px;
  font-weight: 800;
  margin-left: 15px;
  margin-bottom: 10px;
}
.content-item{
  margin: 5px;
  width:45%;
  height: 25%;
  background-color: white;
  border-radius: 15px;
}
.content-wrapper{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}
