<div class="content">
  <div class="head-content">
    <h2>Clients</h2>
    <button (click)="openPopup(clients,'create','','clients')">Add New</button>
    <div (click)="updateData()"><img src="../../../sources/arrows-rotate-solid.svg"></div>
  </div>
  <div class="content-item">
    <table class="transactions">
      <tr>
        <th></th>
        <th>CODE</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EMAIL</th>
        <th>NUMBER</th>
        <th>ACTIONS</th>
      </tr>
      <tr *ngFor="let client of clients; let i = index">
        <td>{{i +1}}</td>
        <td>{{ client.code }}</td>
        <td>{{client.name}}</td>
        <td>{{client.surname}}</td>
        <td>{{client.email}}</td>
        <td>{{client.number}}</td>
        <td>
          <div class="actions">
            <div data-id="{{client.code}}" (click)="openPopup(clients,'update',client.code,'clients')" class="update">
              <img src="../../../sources/user-pen-solid.svg">
            </div>
            <div data-id="{{client.code}}" (click)="openLastPopup(client.code)">
              <img src="../../../sources/info.png" class="info">
            </div>
            <div data-id="{{client.code}}" (click)="openMailPopup(client.code, client.email)">
              <img src="../../../sources/mail.png" class="mail">
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
